<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headTag :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Content drop home page</title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../resources/static/css/media.css" th:href="@{/css/media.css}" rel="stylesheet"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
            th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}" rel="stylesheet"/>
</head>

<body class="container">
<div th:include="fragments/bodyHeader" th:remove="tag">
    <img th:src="@{/resources/static/images/banner-graphic.png}"
         src="/resources/static/images/banner-graphic.png"/>
</div>

<form th:method="POST" enctype="multipart/form-data" th:action="@{/document/create}">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <label th:for="file">File upload</label>
        </div>
        <div class="col-xs-6 col-md-4">
            <input th:type="file" th:name="file"/>
        </div>
        <div class="col-xs-6 col-md-4">
            <input class="btn btn-primary" th:type="submit" th:value="Submit"/>
        </div>
    </div>
    <p class="help-block">Please upload the document that you want to store!</p>
</form>

</body>
</html>