<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/headTag :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Data drop registration</title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../resources/static/css/media.css" th:href="@{/css/media.css}" rel="stylesheet"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
            th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}" rel="stylesheet"/>
</head>

<body class="container">
<div th:include="fragments/bodyHeader" th:remove="tag">
    <img th:src="@{/resources/static/images/banner-graphic.png}"
         src="/resources/static/images/banner-graphic.png"/>
</div>

<div class="content">
    <p th:if="${param.logout}" class="alert">You have been logged out</p>
    <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
    <h2>Login with Username and Password</h2>

    <form name="form" th:action="@{/login}" action="/login" method="POST">
        <fieldset>
            <input type="text" name="username" value="" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password"/>
        </fieldset>
        <input type="submit" id="login" value="Login" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>